* {
	box-sizing: 	border-box;
	padding: 0px;
	margin:  0px;
}
body	 {
	margin: 	0px;
	padding: 	0px;
	font-family: 'Raleway', sans-serif;
}

/*HEADER SECTION 1*/

.section1 {
	background-color: 	#1F2937;
	padding: 1% 10% 8% 10%;
}
nav {
	display: 	flex;
	justify-content: 	space-between;
	align-items: 	center;
	margin-bottom: 4%;
}
nav	img {
	width: 	60px;
	height:  60px;
	border-radius: 	50%;
}
nav	ul {
	display: 	inline-flex;
	flex-grow: 	0.15;
	justify-content: 	space-between;
}
nav	ul li {
	list-style: 	none;
	color: white;
}
nav ul a {
	text-decoration: none;
	font-size: 18px;
	font-weight: bolder;
}
nav ul li:hover {
	color: lightblue;
}
h1 {
	font-size: 48px;
	font-weight: bolder;
	color: #F9FAF8;
}

.jubotrum {
	display: flex;
	gap: 4%;
}
.jubotrum p {
	font-size: 18px;
	color: #E5E7EB;
	line-height: 1.3;
	margin-block: 3%;
}
.jubotrum div {
	width: 50%;
}
.jubotrum button {
	background-color: #3882F6;
	padding: 2%;
	width: 25%;
	font-size: 18px;
	border: 0px solid;
	color: #E5E7EB;
	cursor: 	pointer;
	border-radius: 10px;
	font-weight: bolder;
}
.jubotrum button:hover {
	background-color: grey;
	color: gold;
	
}
.jubotrum div:nth-child(2) {
	background-image: url('images/image4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


/*SECTION 2*/

h2 {
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	margin-block: 1.5%;
	caret-color: #1F2937;
}
 .section2Images  p {
 	text-align: center;
 	font-size: 18px;
 	font-family: candara;
 	font-style: italic;
 	margin-bottom: 36%;
 	font-weight: bolder;
 	color: #1F2937;
 }
 .section2Images {
	width: 70%;
	position: relative;
	margin: 0px auto;
	height: 300px;
	
}

 .section2Images > * {
 	float: left;
 	width: 22%;
 }
 .section2Images div:nth-child(2), div:nth-child(3), div:nth-child(4) {
 	margin-left: 4%;
 }
 .image1,  .image2,  .image3,  .image4 {
 	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 218px;
	max-width: 	218px;
	border-radius: 10px;
	margin-bottom: 4%;
 }

 .image1 {

	background-image: url('images/image1.jpg');
}
.image2 {
	background-image: url('images/image5.jpg');
}
.image3 {
	background-image: url('images/pic.jpg');
}
.image4 {
	background-image: url('images/image3.jpg');
}

 /* FLEXBOX VERSION OF THIS SECTION*/

 /*.image1,  .image2,  .image3,  .image4 {
 	background-repeat: no-repeat;
	background-size: cover;
	height: 218px;
	width: 	218px;
	border-radius: 10px;
	margin-bottom: 4%;
 }



 .section2Images {
 	width: 70%;
 	margin: 0px auto;
 	justify-content: space-between;
 	display: flex;
 }


 .image1 {

	background-image: url('images/image1.jpg');
}
.image2 {
	background-image: url('images/image5.jpg');
}
.image3 {
	background-image: url('images/pic.jpg');
}
.image4 {
	background-image: url('images/image3.jpg');
}
*/

/*SECTTION 3*/

.section3 {
	clear: left;
	font-size: 32px;
	font-style: italic;
	display: flex;
	padding: 3% 10%;
	background-color: #1F2937;

}
.section3 p {
	width: 50%;
 	color: 	white;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	border-radius: 10px;
 	height: 200px;
}
.section3 p:nth-child(2){
	margin-left: 2%;
	margin-right: 2%;
	background-image: url('images/image3.jpg');
}
.section3 p:nth-child(3){
	background-image: url('images/image4.jpg');
}
.section3 p:nth-child(1){
	background-image: url('images/image5.jpg');
}

/*SECTION4 */
 
 .section4 {
 	background-color: #3882F6;
 	padding: 5%;
 	width: 70%;
 	border-radius: 10px;
 	margin: 5% auto;
 	color: #F9FAF8;
 }
 .section4Flex {
 	display: flex;
 	font-size: 18px;
 	justify-content: space-between;
 }
 .section4Flex button {
 	background-color: #3882F6;
	padding: 2%;
	width: 15%;
	color: #E5E7EB;
	cursor: 	pointer;
	border-radius: 5px;
	border: 1px solid white;
	font-weight: bolder;
	box-shadow: 2px 2px #1F2937;
 }
.section4Flex button:hover {
	background-color:  #1F2937;
}
.section4Flex p:nth-child(2) {
	margin-top: 2%;
}
/*FOOTER SECTION*/

h4 {
	text-align: center;
	color: #E5E7EB;
	margin-bottom: 0.5%;
}

footer {
	background-color: #1F2937;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 5% 0px 5% 0px;
}
.details { 
	font-size: 11px;
	text-align: center;
	color: white; 
	margin-bottom: 1.2%;
}
.details a { 
	color: grey; 
	text-decoration: none;
	font-weight: bolder;
	font-family: raleway;
}
.details a:hover {
	color: white;
}

.colum5 {
	display: flex;	
	width: 30%;
	margin: 0px auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.colum5 img:hover {
	background-color: gold;
}
.colum5 img {
	background-color: white;
	border-radius: 50%;
	width: 25px;
	padding: 1px;
	margin-left: 10px;
}



/*MOBILE ERSION*/
/*NAVIGATION SECTION*/

@media (max-width: 521px) {
nav {
	margin-top: 5%;
}
nav ul a:nth-child(4){
	display: 	none;
}
nav ul a:nth-child(2), a:nth-child(3) {
	margin-left: 	8%;
}
nav	img {
	width: 	40px;
	height:  40px;
	border-radius: 	50%;
}

/*SECTION 1*/
.jubotrum	{
	flex-direction: 			column	;
	text-align: 	center;
}
.jubotrum	div:nth-child(1) {
	width: 	100%;
	margin-top: 	15%;
	margin-bottom: 	15%;
}
.jubotrum	div:nth-child(2){
	width: 	100%;
	height: 	250px;
	border-radius: 	15px;
}
h1, h2 {
	font-size: 	26px;
	
}
h2 {
	margin-top: 8%;
}
.jubotrum button {
	width: 45%;
	margin-top: 	5%;
	padding-top: 	3%;
	padding-bottom: 	3%;
}



/*SECTION TWO*/
.section2Images {
	width: 80%;
	margin-top: 8%;
}
.section2Images > * {
	clear: left;
	margin: 0px auto;
	width: 100%;
}
.section2Images div p {
	margin-bottom: 6%;
}
.section2Images > div:nth-child(1) {
	display: none;
}
.image1,  .image2,  .image3,  .image4 {
	height: 250px;
	max-width: 	100%;
	border-radius: 10px;
	margin-bottom: 4%;
 }

/* SECTION THREE*/
 .section3 {
 	flex-direction: column;
 	align-items: center;
 	gap: 5%;
 }

 .section3 p {
	width: 100%;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	border-radius: 10px;
 	height: 250px;
}
.section3 p:nth-child(2),p:nth-child(1){
	margin-bottom: 5%;
}

/*SECTION 4*/

.section4 {
 	width: 80%;
 }
 .section4Flex {
 	font-size: 13px;
 }
 .section4Flex button {
 	background-color: #3882F6;
	padding: 2%;
	width: fit-content;
	font-size: 10px;
 }
.section4Flex button:hover {
	background-color:  #1F2937;
}
.section4Flex p:nth-child(2) {
	margin-top: 2%;
}
/*FOOTER*/

footer {
	padding: 10%;
}
}
